.main-container {
    margin: 56px 235px 0 235px;
    padding: 15px;
    -ms-overflow-x: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    overflow: hidden;
}
@media screen and (max-width: 992px) {
    .main-container {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
