<div [@routerTransition]>
    <div class="row">
        <div class="col-xl-2 text-xs-center">
            <div class="card mb-3" style="border:none">
              <button type="button" class="btn btn-primary">New Project</button>
            </div>
        </div>
        <div class="card-body table-responsive">
            <table class="table">
                <tbody>
                <tr>
                    <td style="max-width:15rem;">
                      <div class="row">
                        <img class="img-thumbnail" src="http://placehold.it/45x45" alt="" style="float:left;">
                        <span style="padding:15px 0 0 15px; font-size:14px; font-weight:600;">My project title is this</span>
                      </div>

                      <div class="row">
                        <span style="color:#212529a1; font-size:14px;">Lorem ipsum dolor sit amet, feugiat lorem in, nonummy mauris in, mattis urna, sed mi eget,
                          consectetuer accumsan. Integer metus tempor, urna odio donec lectus. Viverra sed bibendum nunc dui tincidunt consequat</span>
                      </div>

                      <div class="row">
                        <span style="padding-top:15px; font-size:14px; font-weight:600;">Required Skills</span>
                      </div>
                      <div class="row">
                        <img class="img-thumbnail" style="padding:0; border-radius:0;" src="http://placehold.it/30x30" alt="">
                        <img class="img-thumbnail" style="padding:0; margin-left:10px; border-radius:0;" src="http://placehold.it/30x30" alt="">
                        <img class="img-thumbnail" style="padding:0; margin-left:10px; border-radius:0;" src="http://placehold.it/30x30" alt="">
                        <img class="img-thumbnail" style="padding:0; margin-left:10px; border-radius:0;" src="http://placehold.it/30x30" alt="">
                      </div>
                      <div class="row">
                        <div class="col-xl-8 text-xs-center" style="padding-left:0;">
                          <div class="card mb-3">
                            <button type="button" class="btn btn-default"> </button>
                          </div>
                      </div>
                      <div class="col-xl-4 text-xs-center">
                        <div class="card mb-3">
                          <button type="button" class="btn btn-default">Interested</button>
                        </div>
                    </div>
                      </div>
                    </td>
                    <td>Otto</td>
                </tr>
                <tr>
                  <td style="max-width:15rem;">
                    <div class="row">
                      <img class="img-thumbnail" src="http://placehold.it/45x45" alt="" style="float:left;">
                      <span style="padding:15px 0 0 15px; font-size:14px; font-weight:600;">My project title is this</span>
                    </div>

                    <div class="row">
                      <span style="color:#212529a1; font-size:14px;">Lorem ipsum dolor sit amet, feugiat lorem in, nonummy mauris in, mattis urna, sed mi eget,
                        consectetuer accumsan. Integer metus tempor, urna odio donec lectus.</span>
                    </div>

                  </td>
                    <td>Thornton</td>
                </tr>
                <tr>
                  <td style="max-width:15rem;">
                    <div class="row">
                      <img class="img-thumbnail" src="http://placehold.it/45x45" alt="" style="float:left;">
                      <span style="padding:15px 0 0 15px; font-size:14px; font-weight:600;">My project title is this</span>
                    </div>

                    <div class="row">
                      <span style="color:#212529a1; font-size:14px;">Lorem ipsum dolor sit amet, feugiat lorem in, nonummy mauris in, mattis urna, sed mi eget,
                        consectetuer accumsan. Integer metus tempor, urna odio</span>
                    </div>

                  </td>
                    <td>Otto</td>
                </tr>
                </tbody>
            </table>
        </div>
      </div>
</div>
